.entry-form-container {
    background: $purple;
    border: 3px solid $yellow;
    border-radius: 20px;
}

.entry-container {
    border: 3px solid $yellow;
    border-radius: 20px;

}

.empty-fill-div {
    height: 60vh;
}

.journal-icon {
    margin-right: 10px;
    margin-bottom: 3px;
}