@import 'fonts';
@import 'colors';

* {
    font-family: 'Epilogue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
    color: white;
}

.login-container {
    height: 100vh;
    background: rgb(170, 134, 243);
}

.journal-container {
    background: rgb(170, 134, 243);

  
}